/* NOTE: Caso necessário adicionar qualquer estilização extra, colocar aqui */
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Open Sans", sans-serif !important;
  color: black;
}

.player-card span {
  font-size: 12px;
}