/* NOTE: Caso necessário adicionar qualquer estilização extra, colocar aqui */
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Open Sans", sans-serif !important;
  color: black;
}

.player-card span {
  font-size: 12px;
}

.playerCard-box-properties {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-wrap: wrap;
  /* width: 80px; */
  height: auto;
  padding: 8px;
  border-radius: 8px;
}
