@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Open Sans";
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(/src/assets/cbf-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
